@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'videolist/_videolist.scss';
@import 'videoplayer/_videoplayer.scss';
@import 'videofavourites/_videofavourites.scss';

.side-by-side {
  display: table;
  margin: 0 auto;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  #videoplayer {
    float: left;
  }
  #favourites-bar {
    float: left;
  }
}