.favourite-movie {
  font-family: "IndieFlower", sans-serif;
  cursor: pointer;
  &:before {
    content: "* ";
    cursor: default;
  }
}

.favourite-removal-btn {
  padding: 0;
  margin-left: 0.33em;
  line-height: 1em;
}