#videolist {
  background: #5bc0de;
  color: red;
  font-weight: 200%;
  font-size: 20px;
  font-family: "TallFilm";

  @font-face {
    font-family: "TallFilm";
    src: url('TallFilm.ttf');
    font-weight: 200;

  }

}

.movie-wrapper:after {
  content: " ";
  display: table;
  clear: both;

}

.movie-element{

  float: left;
  width:250px;
  height:100px;

}
