#videolist {
  background: #5bc0de;
  background: url(http://users.metropolia.fi/~jasmiinv/tausta.png);
  color: white;

}

.movie-wrapper:after {
  content: " ";
  display: table;
  clear: both;

}
@font-face {
  font-family: "TallFilm";
  src: url("../fonts/Tall Film/TallFilm-bold.ttf");
  font-weight: 800;
}

.movie-element{

  float: left;
  width:250px;
  height:100px;
  font-family: TallFilm;
  font-size: 21px;

}
