#videolist {
  background: #5bc0de;
  background: url(http://users.metropolia.fi/~jasmiinv/tausta.png);
  color: white;

  @font-face {
    font-family: "TallFilm";
    src: url("../fonts/Tall Film/TallFilm-bold.ttf");
  font-size: 20px;
  }
}

.movie-wrapper:after {
  content: " ";
  display: table;
  clear: both;

}

.movie-element{

  float: left;
  width:250px;
  height:100px;
  font-family: TallFilm;

}
